.carousel {
	position: relative;
	max-width: 700px;
	margin: 2rem auto;
	overflow: hidden;
	border-radius: 1rem;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	background: var(--bgclr);
}

.slides {
	display: flex;
	transition: transform 500ms ease-in-out;
	width: 100%;
}

.slide {
	min-width: 100%;
	text-align: center;
	padding: 1.3rem;
}

.slide img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 1rem;
}

.slide h3 {
	margin: 1rem 0 0.7rem;
}

.slide p {
	font-size: 0.9rem;
	color: var(--primary-color);
}

.arrows {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

.arrows button {
	background: rgba(0, 0, 0, 0.5);
	border: none;
	color: var(--bgclr);
	font-size: 1.3rem;
	padding: 0.7rem;
	cursor: pointer;
}

.arrows button:hover {
	background: rgba(0, 0, 0, 0.8);
}

#list {
	display: inline-block;
	text-align: center;
	
}

.single-product {
	height: 35rem;
    margin: 2.5rem;
    padding: 2.5rem;
	width: 25rem;
	display: inline-grid;
	border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: var(--bgclr);
}

.single-product img {
	height: 20rem;
	width: 20rem;
}

.single-product:hover {
	height: 35.5rem;
	width: 25.5rem;
	margin: 2.25rem;
}

.single-product:hover img {
	height: 20.25rem;
	width: 20.25rem;
}

.single-product:hover .product-body {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	margin-top: 0rem;
	margin-bottom: 0.5rem;

}