:root {
	--primary-color: #333333;
	--primary-color-alfa: #333333cc;
	--secondary-color: #c62828;
	--text-color: #eaeaea;
	--scd-text-color: #1c2030;
	--bgclr: #f9f9f9;
	--bgclr2: #fefefe;
	--bgclr-alfa: #f9f9f9b0;
}
/* bordowe c62828 8f001f*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: var(--bgclr);
	color: #333;
}

.container {
	width: 90%;
	max-width: 75rem;
	margin: auto;
}

/* NAGLOWEK */
header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: var(--text-color);
	padding: 1rem 1rem;
	/* border-bottom: 2px solid #0b7102; */
	min-height: 7%;
	/* max-height: 10vh; */
	position: sticky;
	top: 0;
	background-color: var(--primary-color-alfa);
	z-index: 1;
}
header img {
	border-radius: 50%;
	max-height: 5rem;
	width: auto;
}

header h1 {
	margin-right: auto;
	margin-left: 1%;

	float: left;
}

header h1 a {
	color: var(--text-color);
	font-size: 1.2rem;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	text-decoration: none;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	display: inline;
	margin-left: 20px;
}

nav ul li a {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: bold;
	color: var(--text-color);
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}
.active {
	/* background-color: var(--bgclr); */
	background-color: var(--bgclr-alfa);
	border-radius: 80vw;
	padding: 10px;
}
.active a {
	color: var(--secondary-color);
}

nav ul li a:hover,
header h1 a:hover {
	color: var(--secondary-color);
}

/* ROZWIJANE MENU */

#dropdown-toggle {
	display: none;
}

@media (max-width: 1000px) {
	nav ul {
		display: flex;
		flex-direction: column;
		width: 30%;
		background-color: var(--primary-color-alfa);
		position: absolute;
		top: 100%;
		right: 1rem;
		border-radius: 1rem;
		padding: 1rem;
		opacity: 0;
		transform: translateY(-120%);
		transition-duration: 400ms;
		transition-timing-function: ease-in-out;
	}

	nav ul.show {
		opacity: 100;
		transform: translateY(0);
	}

	#dropdown-toggle {
		position: relative;
		right: 3rem;
		display: block;
		border-radius: 0;
		height: 3rem;
		width: auto;
		transform: rotate(-90deg);
		cursor: pointer;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;
	}

	#dropdown-toggle.open {
		transform: rotate(-180deg);
	}

	nav ul li {
		display: block;
		margin: 10px 0;
		text-align: center;
	}
}


/* GLOWNA TRESC STRONY */
.main {
	/* background-color: var(--secondary-color); */
	background-image: url("../images/3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--scd-text-color);
	padding: 10.25rem 0;
	text-align: center;
	margin-top: -6rem;
	min-height: 25rem;
}
.main .container {
	background-color: var(--bgclr-alfa);
	color: var(--primary-color);
	border-radius: 1rem;
	width: 50%;
	padding: 1em;
}

/* OFERTA */
.oferta {
	padding: 3.75rem 0;
	background: var(--text-color);
	text-align: center;
}

.oferta-boxy {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2rem;
}
#of_1 {
	background-image: url(../images/dieta_standard.jpg);
	background-size: cover;
	background-position: center;
}
#of_2 {
	background-image: url(../images/deita_sport.jpg);
	background-size: cover;
	background-position: center;
}
#of_3 {
	background-image: url(../images/dieta_vege.jpg);
	background-size: cover;
	background-position: center;
}

.oferta-box {
	padding: 5rem;
	width: 19rem;
	margin: 1rem;
	border-radius: 0.6rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.tlo {
	text-align: center;
	background-color: var(--bgclr-alfa);
	color: var(--primary-color);
	border-radius: 1rem;
	padding: 0.2rem;
}

.oferta-box h3 {
	margin-bottom: 0.6rem;
	color: var(--secondary-color);
}

/* O NAS */
.o-nas {
	padding: 3.75rem 0;
	background: var(--bgclr2);
	text-align: center;
}

.o-nas p {
	max-width: 44rem;
	margin: auto;
}

/* DLACZEGO MY */
#akordeon_sekcja {
	background-image: url("../images/dieta.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#akordeon_sekcja .container {
	padding: 3rem;
}

#akordeon_sekcja h2 {
	text-align: center;
	padding: 1rem;
}
.akordeon {
	cursor: pointer;
	background-color: var(--bgclr-alfa);
	color: var(--scd-text-color);
	padding: 1.4rem;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	font-size: 1.3rem;
	font-weight: 600;
	transition: 400ms;
	color: var(--secondary-color);
}
.chosen,
.akordeon:hover {
	color: var(--text-color);
	background-color: var(--primary-color-alfa);
}

.panel {
	padding: 0 1rem;
	background-color: var(--bgclr-alfa);
	font-size: larger;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/*OPINIE*/
#opinie {
	margin-top: 3rem;
}
#opinie h2 {
	text-align: center;
}
.opinia {
	background: var(--bgclr);
	padding: 2rem;
	margin-top: 1rem;
	border-left: 0.5rem solid var(--secondary-color);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	border-radius: 0.8rem;
}

/* STOPKA */
footer {
	background: var(--primary-color);
	color: var(--text-color);
	padding: 1.25rem 0;
	text-align: center;
	margin-top: 2.5rem;
}
